<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="One_Piece.Properties.Settings.PRINTER_SHOP_ConnectionString"
            connectionString="Data Source=LAPTOP-0FC2LPHU;Initial Catalog=PRINTER_SHOP_;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>